<!DOCTYPE html>
<html lang="zh-CN">
  {include file="public:header"}
  <body>
    <div class="warpper" data-role="page" id="guide">
      <div data-role="main">
          <div class="pb"><a class="btn ui-btn-c" href="{:url('Login/login')}" data-role="button" data-theme="c" data-ajax="false">进入</a></div>
        <!-- <a class="heart" data-ajax="false" href="{:url('Login/login')}"></a> -->
        
        <!-- <audio src="__HOME__/music.mp3" autoplay loop></audio> -->
      </div>
    </div>
  </body>
</html>