<!DOCTYPE html>
<html lang="zh-CN">
  {include file="public:header"}
  <body>
    <div class="warpper" data-role="page" id="guide">
      <div data-role="main">
          <div class="pb text-center"><a href="{:url('Login/login')}" data-role="none" data-ajax="false"><img width="100" src="__HOME__/img/btn@2x.png" alt=""></a></div>
        <!-- <a class="heart" data-ajax="false" href="{:url('Login/login')}"></a> -->
        
        <!-- <audio src="__HOME__/music.mp3" autoplay loop></audio> -->
      </div>
    </div>
  </body>
</html>