<!DOCTYPE html>
<html lang="zh-CN">
    {include file="public:header"}
  <body>
    <div data-role="page" id="finish" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        {if condition="$type == 1"}<img src="__HOME__/img/fu.gif" width="100%" alt="福">
        {elseif condition="$type == 2"}<img src="__HOME__/img/lu.gif" width="100%" alt="禄">
        {elseif condition="$type == 3"}<img src="__HOME__/img/shou.gif" width="100%" alt="寿">
      
        {/if}
        <div class="endText">
          <h2 class="title">{$lb_place.name}</h2>
          <div class="flex">
            <p>开始:{$detail.start_time|date="Y-m-d H:i:s",###}</p>
            <p>结束:{$detail.end_time|date="Y-m-d H:i:s",###}</p>
          </div>
         
          <p>{$lb_place.desc}</p>
        </div>
        <div class="pb" style="display: flex;justify-content: space-around;">
            <!-- <a class="nextBtn" href="{:url('News/index')}" data-role="none" data-ajax="false" style="background-image:url(__HOME__/img/next-btn2.png);margin: 0;background-size: contain;"></a> -->
        
            <a class="nextBtn" href="{:url('User/index')}" data-role="none" data-ajax="false" style="background-image:url(__HOME__/img/user-btn2.png);margin: 0;"></a>
        </div>
      </div>
      <div class="finishBg"></div>
    </div>
  </body>

</html>