<!DOCTYPE html>
<html lang="zh-CN">
    {include file="public:header"}
  <body>
    <div data-role="page" id="finish" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        {if condition="$money == 1000"}<img src="http://duye.dd371.com/public/gif/pixiu.gif" width="100%" alt="百">
        {elseif condition="$money == 10000"}<img src="http://duye.dd371.com/public/gif/qinglong.gif" width="100%" alt="千">
        {elseif condition="$money == 100000"}<img src="http://duye.dd371.com/public/gif/baihu.gif" width="100%" alt="万">
        {elseif condition="$money == 1000000"}<img src="http://duye.dd371.com/public/gif/fenghuang.gif" width="100%" alt="十万">
        {elseif condition="$money == 10000000"}<img src="http://duye.dd371.com/public/gif/xuanwu.gif" width="100%" alt="百万">
        {/if}
        <div class="endText">
          <h2 class="title">{$lb_place.name}</h2>
          <div class="flex">
            <p>开始:{$detail.start_time|date="Y-m-d H:i:s",###}</p>
            <p>结束:{$detail.end_time|date="Y-m-d H:i:s",###}</p>
          </div>
          <!-- <p>入侵成功后您将获得能量值:{$money}!可直接点击”提现”按钮进行兑换，也可到个人中心进行统一兑换.点击“下一局”按钮，您可重新选择入侵，寻找宿主！</p> -->
          <p>{$lb_place.desc}</p>
        </div>
        <div class="pb" style="display: flex;justify-content: space-around;">
            <a class="nextBtn" href="{:url('News/index')}" data-role="none" data-ajax="false" style="background-image:url(http://duye.dd371.com/public/gif/next-btn.png);margin: 0;background-size: contain;"></a>
        
            <a class="nextBtn" href="{:url('User/index')}" data-role="none" data-ajax="false" style="background-image:url(http://duye.dd371.com/public/gif/user-btn.png);margin: 0;"></a>
        </div>
      </div>
      <div class="finishBg"></div>
    </div>
  </body>

</html>