<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{$sys.name}</title>
    
    <link rel="stylesheet" href="__HOME__/lib/jquery-mobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="__HOME__/css/style.min.css">
    <script src="__HOME__/js/jquery-2.1.4.min.js"></script>
      
    
    <script src="__HOME__/lib/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
    <script>
      $(document).on("pageshow","#invade",function(){
        setTimeout(function() {
          $('.venom').addClass('move')
        }, 600)
      });
      $(document).on("pagehide","#invade",function(){
        $('.venom').removeClass('move')
      });
      $('a').attr("data-ajax","false")
    </script>

<script src="__HOME__/js/main.js"></script>
    <script src="__ADMIN__/assets/layer/layer.js"></script>
<script src="__ADMIN__/assets/js/jquery.form.js"></script>
  </head>