<!DOCTYPE html>

<html lang="zh-CN">

    {include file="public:header"}

  <body>

    <div class="user" data-role="page" id="toup" data-theme="c">

      <div class="ui-content" data-role="main" data-theme="c">

        <div class="header">我要充值<a class="back" href="#" data-rel="back"></a></div>

        <div style="margin-top:20px;">

          <p>选择充值方式</p>

          <ul class="nostyle paylist">

            <li><a href="{:url('User/bank_card')}" data-ajax="false">银行卡</a></li>
             <li class="codebtn">二维码</li>
            <!--<br>
            <li class="imgbtn">上传充值截图</li> -->
          </ul>
          
        </div>

        <style>
          #imgModal .inner {
            background-image: none!important;
          }
          </style>
          <div class="modal" id="imgModal">
            <div class="shade">
              <div class="inner" style="width: 340px;height:349px;padding: 66px 47px;overflow: hidden;">
                <form id="logoForm" action="{:url('User/save_image')}" method="POST">
                  
                  <input type="file" name="image"  data-theme="c" required>
                  <input type="submit"  data-theme="c" value="提交">
                </form>
              </div>
            </div>
          </div>

      </div>

    </div>
    <div class="modal" id="codeModal">
      <div class="shade">
        <div class="inner" style="width: 340px;height:349px;background-image:url(__HOME__/img/codeBg.png);background-size: contain;padding: 66px 47px;overflow: hidden;">
          <img width="100%" src="{$re.image}" alt="">
        </div>
      </div>
    </div>
    
    <script>
      $('.codebtn').click(function() {
          $('#codeModal').fadeIn()
      })
      $('.imgbtn').click(function() {
          $('#imgModal').fadeIn()
      })
    </script>

<script>
  $(function () {
    $('#logoForm').ajaxForm({
      beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
      success: complete, // 这是提交后的方法
      dataType: 'json'
    });

    function checkForm() {
     
    }

    function complete(data) {
      if (data.code == 1) {
        
        layer.alert(data.msg, {
          icon: 6
        }, function (index) {
          layer.close(index);
          window.location.href = data.url;
        });
       

      } else {
        layer.alert(data.msg, {
          icon: 5
        }, function (index) {
          layer.close(index);
          window.location.href = data.url;
        });

      }
    }

  });
</script>
  </body>

</html>