<!DOCTYPE html>
<html lang="zh-CN">
    {include file="public:header"}
  <body>
    <div class="user" data-role="page" id="toup" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="header">我要充值<a class="back" href="#" data-rel="back"></a></div>
        <div style="margin-top:20px;">
          <p>选择充值方式</p>
          <ul class="nostyle paylist">
            <li><a href="{:url('User/bank_card')}" data-ajax="false">银行卡</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>