<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="GB2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>天界</title>

    <link rel="stylesheet" href="__HOME__/lib/jquery-mobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="__HOME__/css/style.min.css">
    <script src="__HOME__/js/jquery-2.1.4.min.js"></script>


    <script src="__HOME__/lib/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
    <script>
        $(document).on("pageshow","#invade",function(){
                    setTimeout(function() {
                      $('.venom').addClass('move')
                    }, 600)
                  });
                  $(document).on("pagehide","#invade",function(){
                    $('.venom').removeClass('move')
                  });
                  $('a').attr("data-ajax","false")
                </script>

    <script src="__HOME__/js/main.js"></script>
    <script src="__ADMIN__/assets/layer/layer.js"></script>
    <script src="__ADMIN__/assets/js/jquery.form.js"></script>
</head>

<body>
    <div class="user" data-role="page" id="deposit" data-theme="c">
        <div class="ui-content" data-role="main" data-theme="c">
            <div class="header">分享二维码<a class="back" href="#" data-rel="back"></a></div>
            <div style="text-align:center;margin-top: 20vw;">

                <img src="{$qrcode}" />
            </div>

            <br>
            <div>

                {$lb.desc}
            
            </div>
        </div>
    </div>

</body>

</html>
